 #image_consumption {    
    font-family: "Times New Roman", Times, serif;        
 }
 
 .site-header {            
    padding-left: 15px;
    padding-right: 15px;
    /* padding-top: 15px; */
    height: 50px;
 } 

 #header-row {
    height: 50px;
    border-bottom: 1px solid;
    border-color: #dddddd;
    background-color: #eee;
    text-shadow: 2px 2px 3px #8d8d8d;
}  

 #login-box {
    border: 1px solid;
    border-radius: 15px;
    border-color: #dddddd;
    background: #eee;
} 

.instance_name {
    font-size: 150%;
    text-decoration: underline;
    margin: 40px
}

.terp-line {
    /* border-bottom: 1px solid;
    border-color: #707070; */
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, rgb(161, 161, 161) , rgb(201, 201, 201));
    border-image-slice: 1;
    font-size: 120%;
} 

.project {
    /* background-image: linear-gradient(to right, rgb(211, 211, 211), rgb(255, 255, 255)); */
    border-radius: 7px;
    border: 1px solid;
    border-color: #e0e0e0;
    /* font-size: 120%; */
    background-color: rgb(236, 236, 236);
    /* padding-bottom: 10px; */
    margin-top: 20px;
    padding-bottom: 15px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-left: 0px;
}

.project-line {
    margin-left: 0px;
}

.instance {
    /* background-image: linear-gradient(to right, rgb(230, 230, 230), rgb(255, 255, 255)); */
    margin-top: 10px;
    margin-bottom: 20px;
    /* bordSer-radius: 5px; */
    border-radius: 7px;
    border: 1px solid;
    border-color: #b4b4b4;
    background-color: rgb(204, 228, 241);
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-left: 0px;
}

.event {
    margin-bottom: 10px;
    border-bottom: 5px solid;
    border-color: #b4b4b4;
    margin-left: 0px;
}

.no-instances {
    color: rgb(43, 167, 224);
}

.pro-header, .inst-header, .eve-header {
    border-bottom: 1px solid;    
    border-color: #b4b4b4;    
    font-weight: bold;
}

.project-border {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, rgb(134, 209, 231) , rgb(255, 255, 255));
    border-image-slice: 1;
}

#terp-header {
    margin-top: 20px;
}

#sidebar {
    min-width: 140px;
    max-width: 140px;
    margin-top: 50px;
}

#startDate, #endDate {
    text-align: center;
    }