{% extends "admin/base.html" %}
{% load static %}

{# Additional <head> content here, some extra meta tags or favicon #}
{% block extrahead %}  
{{ block.super }}
<title>OpenStack Billing</title>
  <script type="text/javascript" src="{% static 'js\jquery3.4.1.js' %}"></script>
  <script type="text/javascript" src="{% static 'jquery-ui\jquery-ui.min.js' %}"></script>  
  <script type="text/javascript" src="{% static 'bill\main.js' %}"></script>  
  <script type="text/javascript" src="{% static 'js\popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bootstrap\js\bootstrap.min.js' %}"></script>
{% endblock %}


{# Additional CSS includes #}
{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static "bootstrap\css\bootstrap.min.css" %}" media="all">
  <link rel="stylesheet" type="text/css" href="{% static "jquery-ui\jquery-ui.css" %}" media="all">
{% endblock %}

