{% extends "admin/base_site.html" %}
{% load i18n %}

{% load crispy_forms_tags %}


{% block content %}

<div class="container">
<div class="row border-bottom pt-4">
</div>
<div class="mt-4 text-center" >
<h1>Excel Report</h1>
</div>    
    <!-- <div class="row align-items-center"> -->
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}

            <!-- <div class="row mt-3 align-items-center"> -->
                <div class="row">
                    <div class="col-md-6 text-right">
                        <label for="startDate">Start Date :</label>
                        <input name="startDate" id="startDate" class="datepicker" value="{{ start_time }}" size="8"
                            autocomplete="off" />
                    </div>
                    <div class="col-md-4">
                        <label for="endDate" class="ml-2">End Date :</label>
                        <input name="endDate" id="endDate" class="datepicker" value="{{ end_time }}" size="8"
                            autocomplete="off" />
                    </div>
                </div>
            <!-- </div> -->

            <div class="mt-4 text-center border-bottom pb-4">
                <input name="excelparser" type="submit" value="Submit" class="btn btn-outline-info text-center" />
            </div>


        </form>
    <!-- </div> -->
</div>
{% endblock %}